@model IEnumerable<WebApi.SharedModels.Allsand>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black-50 pl-3">Liste Allsande</h2>
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col-4 text-right custom-spacing">
        <a asp-controller="Allsand" asp-action="Create" class="btn btn-primary w-50"><i class="bi bi-plus-circle-fill"></i>  Tilføj Ny</a>
    </div>
    <div class="col-4 text-">
        <a asp-controller="Home" asp-action="GateGory" class="btn btn-primary w-50"><i class="bi bi-backspace"></i>  Tilbage</a>
    </div>
</div>

<hr />
<div class="form-container">
    <form asp-controller="Allsand" asp-action="Search">
        <div>
            Fornavn: <input type="text" name="Fornavn" />
        
            <input type="submit" value="Søg" />
        
        </div>
    </form>
    <br/>
    <form asp-controller="Allsand" asp-action="Getbyid">
        <div>
            ID: <input type="number" name="ID" />

            <input type="submit" value="Søg" />
 
        </div>
    </form>
</div>
<hr />
<br />

@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="1">First</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previouse</a>
            </li>
        }
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage? "active":"")">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@pge">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}



@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> ID</th>
                <th> Nr </th>
                <th>Efternavn</th>
                <th> Fornavn </th>
                <th> Erhverv</th>
                <th>Sted</th>
                <th>Borgerskab</th>
                <th>Klasse</th>
                <th>Tingsbogshenvisning</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="5%">@item.ID</td>
                    <td width="5%">@item.Nr</td>
                    <td width="5%">@item.Efternavn</td>
                    <td width="5%">@item.Fornavn</td>
                    <td width="5%">@item.Erhverv</td>
                    <td width="5%">@item.Sted</td>
                    <td width="5%">@item.Borgerskab</td>
                    <td width="5%">@item.Klasse</td>
                    <td width="5%">@item.Tingsbogshenvisning</td>
                    

                    <td>
                        <div class=" btn-group" role="group">

                            <a asp-controller="Allsand" asp-action="AllsandEdit" asp-route-id="@item.ID" class="btn btn-primary  mx-2"><i class="bi bi-pencil-square"></i>Redigere</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a asp-controller="Allsand" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger  mx-1"><i class="bi bi-trash3"></i>Slet</a>
                        </div>
                    </td>

                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>Ingen elementer oprettet endnu</p>
}


@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="1">First</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previouse</a>
            </li>
        }
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage? "active":"")">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@pge">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Allsand" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
<br />




<style>
    .custom-spacing {
        margin-right: 350px; /* Adjust as needed */
    }
    .form-container {
        display: flex;
        gap: 200px; /* Add some space between the forms */
    }

        .form-container form {
            display: flex;
            flex-direction: column;
        }
</style>








