@model IEnumerable<WebApi.SharedModels.Arrestprotokoller>
@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black-50 pl-3">Liste ArrestProtokoller</h2>
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col-4 text-right custom-spacing">
        <a asp-controller="Arrest" asp-action="Create" class="btn btn-primary w-50">
            <i class="bi bi-plus-circle-fill"></i> Tilføj Ny
        </a>
    </div>
    <div class="col-4 text-left ">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary w-50">
            <i class="bi bi-backspace"></i> Tilbage
        </a>
    </div>
</div>


<hr />

<div class="form-container">
    <form asp-controller="Arrest" asp-action="Search">
        <div>
            Fornavn: <input type="text" name="Fornavn" />

            <input type="submit" value="Søg" />

        </div>
    </form>
    <br />
    <form asp-controller="Arrest" asp-action="GetById">
        <div>
            ID: <input type="number" name="ID" />

            <input type="submit" value="Søg" />

        </div>
    </form>

</div>
<hr />
<br />

@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="1">First</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previouse</a>
            </li>
        }
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage? "active":"")">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@pge">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}



@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> ID</th>
                <th> ProtokolSideFolie </th>
                <th>Protokolid</th>
                <th>ProtokolFotoside1</th>
                <th>ProtokolFotoside2</th>
                <th>FangeLbnr</th>
                <th>VisitaionArbejdsProtokolNr</th>
                <th> Fornavn</th>
                <th> Efternavn </th>
                <th>Slægtsnavn</th>
                <th> Opholdssted </th>
                <th>Stilling </th>
                <th>Alder </th>
                <th> Fødested </th>
                <th> Fødedato</th>
                <th>Signalement</th>
                <th>ProtokolDato </th>
                <th>UnderHvisJustits </th>
                <th>Årsag </th>
                <th> SagensUdfald </th>
                <th> Domsdato </th>
                <th> Anmærkninger </th>
                <th> Bemærkninger </th>
                <th>HenvisningsfolieProtolkol</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="5%">@item.ID</td>
                    <td width="5%">@item.ProtokolSideFolie</td>
                    <td width="5%">@item.Protokolid</td>
                    <td width="5%">@item.ProtokolFotoside1</td>
                    <td width="5%">@item.ProtokolFotoside2</td>
                    <td width="5%">@item.FangeLbnr</td>
                    <td width="5%">@item.VisitaionArbejdsProtokolNr</td>
                    <td width="5%">@item.Fornavn</td>
                    <td width="5%">@item.Efternavn</td>
                    <td width="5%">@item.Slægtsnavn</td>
                    <td width="5%">@item.Opholdssted</td>
                    <td width="5%">@item.Stilling</td>
                    <td width="5%">@item.Alder</td>
                    <td width="5%">@item.Fødested</td>
                    <td width="5%">@item.Fødedato</td>
                    <td width="5%">@item.Signalement</td>
                    <td width="5%">@item.ProtokolDato</td>
                    <td width="5%">@item.UnderHvisJustits</td>
                    <td width="5%">@item.Årsag</td>
                    <td width="5%">@item.SagensUdfald</td>
                    <td width="5%">@item.Domsdato</td>
                    <td width="5%">@item.Anmærkninger</td>
                    <td width="5%">@item.Bemærkninger</td>
                    <td width="5%">@item.HenvisningsfolieProtolkol</td>

                    <td>
                        <div class=" btn-group" role="group">

                            <a asp-controller="Arrest" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary  mx-2"><i class="bi bi-pencil-square"></i>Redigere</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a asp-controller="Arrest" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger  mx-1"><i class="bi bi-trash3"></i>Slet</a>
                        </div>
                    </td>

                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>Ingen elementer oprettet endnu</p>
}


@if (pager.TotalPages > 0)
{
    <ul class="pagination justify-content-end">
        @if (pager.CurrentPage > 1)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="1">First</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previouse</a>
            </li>
        }
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage? "active":"")">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@pge">@pge</a>
            </li>
        }
        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
            </li>
            <li class="page-item ">
                <a class="page-link" asp-controller="Arrest" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
<br />





<style>
    .custom-spacing {
        margin-right: 350px; /* Adjust as needed */
    }

    .form-container {
        display: flex;
        gap: 200px; /* Add some space between the forms */
    }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

</style>






